#wrap{
  width: 250px;
  height: 260px;
}
#title{
  display: flex;
  height: 50px;
}
#title p{
  width: 50px;
  margin: 0 0;
  text-align: center;
  font-size: 32px;
}
.column{
display:flex; 
}
button{
  width: 50px;
  height: 50px;
  font-size: 30px;

  background-color: white;
}
.openedButton{
  background-color: black;
}