#wrap {
  margin: 100px auto;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}
div[id^="box"] {
  width: 100px;
  height: 50px;
  border: 1px black solid;
  border-collapse: collapse;
  text-align: center;
  line-height: 25px;
}
div[id^="box"]:hover {
  color: red;
  cursor: pointer;
}
#imgdiv {
  display: block;
  width: 200px;
  margin: 10px auto;
}
